nav.navbar.navbar-expand-lg.navbar-dark.fixed-top
  a.navbar-brand(href='index.html') SUNNY
  button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon 

  #navbarSupportedContent.collapse.navbar-collapse.navbar-right
    ul.navbar-nav.ml-auto
      li.nav-item
        a.nav-link(href='index.html') HOME
      li.nav-item.active
        a.nav-link(href='RESUME.html') RESUME          
      li.nav-item
        a.nav-link(href='PROJECT.html') PROJECT
      li.nav-item
        a.nav-link(href='CONTACT.html') CONTACT
    

header.jumbotron
  .container
    .banner
      .bannerContent
        p
          | — THIS IS Sunny's BLOG —
          span
            | My Resume
          |   Work and EXTRA CURRICULUM EXPERIENCES     




script(src='https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js')
          
section.work
  .section-heading.py-3 
    h1.ml1
      span.text-wrapper
        span.line.line1  
        span.letters  WORK EXPERIENCE 
        span.line.line2 
    .container.py-2.mt-4.mb-4
      //- timeline item1
      .row.no-gutters
        .col-sm
        .col-sm-1.text-center.flex-column.d-none.d-sm-flex
          .row.h-50
            .col &nbsp;      
            .col &nbsp;   
          h5.m-2
            span.badge.badge-pill.bg-light.border &nbsp;     
          .row.h-50
            .col.line_border &nbsp;       
            .col &nbsp;

        .col-sm.py-2
          .card.shadow
            .card-body
              h1.card-header CATHAY LIFE INSURANCE COMPANY
              h2.card-title (2021-) Data Engineer Intern 
              p.card-text.text-muted 
                ul.list-style-type.circle
                  li Built the data infrastructures and platforms to serve data science on marketing needs.
                  li Implemented the Robotic Process Automation solutions to make processing time reduced by 80%.

      //- timeline item2
      .row.no-gutters
        .col-sm.py-2
          .card.shadow
            .card-body
              h1.card-header NATIONAL CHIAO TUNG UNIVERSITY
              h2.card-title (2020-) Data Mining Research Assistant  
              p.card-text 
                ul.list-style-type.circle
                  li Analyzed the national business competition information and built the automatic statistician models. 
                  li Implemented clustering, regression, time series forecasting analysis, etc. on industry researches.
        .col-sm-1.text-center.flex-column.d-none.d-sm-flex
          .row.h-50
            .col.line_border &nbsp;      
            .col &nbsp;     
          h5.m-2
            span.badge.badge-pill.bg-light.border &nbsp;    
          .row.h-50
            .col.line_border &nbsp;      
            .col &nbsp; 
        .col-sm

      //- timeline item3
      .row.no-gutters
        .col-sm
        .col-sm-1.text-center.flex-column.d-none.d-sm-flex
          .row.h-50
            .col.line_border &nbsp;   
            .col &nbsp;    
          h5.m-2
            span.badge.badge-pill.bg-light.border &nbsp;
          .row.h-50
            .col.line_border &nbsp;       
            .col &nbsp;
        .col-sm.py-2
          .card.shadow
            .card-body
              h1.card-header AI FINTECH ASSOCIATION 
              h2.card-title (2020) Tech-Workshop Lecturer
              p.card-text 
                ul.list-style-type.circle
                  li Shared my opinions of open banking and fintech and taught the application technics of API.
      //- timeline item4
      .row.no-gutters
        .col-sm.py-2
          .card.shadow
            .card-body
              h1.card-header inFlux FINANCIAL TECHNOLOGY COMPANY     
              h2.card-title (2019-2020) System Intern
              p.card-text 
                ul.list-style-type.circle
                  li Conducted the demands of the market data research and built a dictionary of financial sentiments.
                  li Designed the projects of the anti-fraud control module and debt investment, and set up the risk control module through a mixture model resulting in 20% increase in accuracy.
        .col-sm-1.text-center.flex-column.d-none.d-sm-flex
          .row.h-50
            .col.line_border &nbsp;     
            .col &nbsp;   
          h5.m-2
            span.badge.badge-pill.bg-light.border &nbsp; 
          .row.h-50
            .col &nbsp;   
            .col &nbsp;
        .col-sm

hr


section.competition
  .section-heading.py-3 
    h1.ml2
      span.text-wrapper
        span.line.line1  
        span.letters  COMPETITION EXPERIENCE 
        span.line.line2  
    .container.py-2.mt-4.mb-4
      //- timeline item1
      .row
        //- timeline item 1 leftdot
        .col-auto.text-center.flex-column.d-none.d-sm-flex
          .row.h-50
            .col &nbsp;      
            .col &nbsp; 
          h5.m-2
            span.badge.badge-pill.bg-light.border &nbsp;
          .row.h-50
            .col.line_border &nbsp;   
            .col &nbsp;
        //- timeline item 1 eventcontent
        .col.py-2
          .card
            .card-body
              h1.card-header AI and FinTech Innovation Competition - Creative
              h2.card-title First Place / Main Product Developer
              p.card-text 
                ul.list-style-type.circle
                  li Acted as the main proposer and came up with an innovative product with the aid of blockchain and smart contract, which could help the long-term care family to manage their money in an efficient way.
                  li Implemented Zero-Knowledge Proofs to solve privacy issues and established a hybrid model of P2P lending decision system.
      //- timeline item2
      .row
        .col-auto.text-center.flex-column.d-none.d-sm-flex
          .row.h-50
            .col.line_border &nbsp;      
            .col &nbsp;
          h5.m-2
            span.badge.badge-pill.bg-light.border &nbsp;   
          .row.h-50
            .col.line_border &nbsp; 
            .col &nbsp;
        .col.py-2
          .card
            .card-body
              h1.card-header AI and FinTech Innovation Competition – Demo
              h2.card-title Second  Place / Data Analyst
              p.card-text 
                ul.list-style-type.circle
                  li Built the life insurance system to solve IFRS17 problems like the subsystem of fair value revaluation and spillover effect insurance product evaluation.
      //- // timeline item3
      .row
        .col-auto.text-center.flex-column.d-none.d-sm-flex
          .row.h-50
            .col.line_border &nbsp;    
            .col &nbsp;
          h5.m-2
            span.badge.badge-pill.bg-light.border &nbsp; 
          //- .row.h-50
          //-   .col.border-right &nbsp;    
          //-   .col &nbsp;
        .col.py-2
          .card
            .card-body
              h1.card-header FinTech Innovation Competition - API Demo 
              h2.card-title Fifth Place / Main Product Developer
              p.card-text 
                ul.list-style-type.circle
                  li Created an online platform for investment and payment with the integration of finance and sustainability. 
                  li Established the responsible investment portfolios through Gaussian mixture model.

hr

section.club
  .section-heading.py-3 
    h1.ml3
      span.text-wrapper
        span.line.line1  
        span.letters  CLUB EXPERIENCE 
        span.line.line2 
    .container.py-2.mt-4.mb-4
      //- timeline item1
      .row
        //- timeline item 1 eventcontent
        .col.py-2
          .card.shadow
            .card-body
              h1.card-header MOUNTAIN CULTURAL SERVICE TEAM 
              h2.card-title (2018-2020) Summer Service Camp Coordinator
              p.card-text 
                ul.list-style-type.circle
                  li Coordinated a 9-day summer service camp event for 50+ indigenous children.
                  li Curated the photo exhibition and designed exhibition vision posters.

        
section.final
  .container
    .row
      .col-md-12
        h2 ABOUT ME
    .row
      .col-md-3
        i.fab.fa-facebook-square
        a(href="https://reurl.cc/jqo5rL")   Facebook
      .col-md-3
        i.fas.fa-envelope-open-text
        a(href="mailto:jhih.ching.yeh@gmail.com")   Email
      .col-md-3
        i.fab.fa-github
        a(href="https://github.com/jhih-ching-yeh")   Github
      .col-md-3
        i.fab.fa-linkedin
        a(href="https://www.linkedin.com/in/%E4%B9%8B%E6%99%B4-%E8%91%89-87942b181/")   LinkedIn
    