nav.navbar.navbar-expand-lg.navbar-dark.fixed-top
  a.navbar-brand(href='index.html') SUNNY
  button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon 

  #navbarSupportedContent.collapse.navbar-collapse.navbar-right
    ul.navbar-nav.ml-auto
      li.nav-item
        a.nav-link(href='index.html') HOME
      li.nav-item
        a.nav-link(href='RESUME.html') RESUME          
      li.nav-item.active
        a.nav-link(href='PROJECT.html') PROJECT
      li.nav-item
        a.nav-link(href='mailto:jhih.ching.yeh@gmail.com') CONTACT
    

header.jumbotron
  .container
    .banner
      .bannerContent
        p
          | — THIS IS Sunny's BLOG —
          span
            | Sunny's PROJECTS
          |   To Be A Better Software Engineer

script(src='https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js')
          
section.project
  .section-heading.py-3 
    h1.ml1
      span.text-wrapper
        span.line.line1  
        span.letters  MY PROJECTS
        span.line.line2       
  table.table.table-striped
    thead
        tr
          th(scope='col') #
          th(scope='col') TIME 
          th(scope='col') PROJECT Name   
          th(scope='col') LANGUAGE
          th(scope='col') LINK
    tbody
        tr
          th(scope='row') ０
          td ///
          td My Github
          td ///
          td
            a(href="https://github.com/jhih-ching-yeh").fab.fa-github
        tr
          th(scope='row') 1
          td 109
          td Data Mining
          td python
          td
            a(href="https://github.com/jhih-ching-yeh/Data-Mining").fab.fa-github-alt
        tr
          th(scope='row') 2
          td 109
          td Algorithm
          td python, C
          td
            a(href="https://github.com/jhih-ching-yeh/Data-Mining").fab.fa-github-square
        tr
          th(scope='row') 3
          td 109
          td My Web
          td html, css, javascript
          td
            a(href="https://github.com/jhih-ching-yeh/jhih-ching-yeh.github.io").fab.fa-github-alt
        tr
          th(scope='row') 4
          td 109
          td Combinatorial Calculator
          td html, javascript
          td
            a(href="https://github.com/jhih-ching-yeh/CombinatorialCalculator").fab.fa-github-square
        tr
          th(scope='row') 5
          td 109
          td Data Analysis
          td python
          td
            a(href="https://github.com/jhih-ching-yeh/Data-Analysis").fab.fa-github-alt
        tr
          th(scope='row') 6
          td 108
          td KYC System
          td python
          td
            a(href="https://github.com/jhih-ching-yeh/KYC-system").fab.fa-github-square
        tr
          th(scope='row') 7
          td 108
          td Art and Technology
          td processing
          td
            a(href="https://github.com/jhih-ching-yeh/Art-and-Technology").fab.fa-github-alt
        tr
          th(scope='row') 8
          td 107
          td Digital Circuit Design
          td verilog
          td
            a(href="https://github.com/jhih-ching-yeh/Digital-Circuit-Design").fab.fa-github-square
        tr
          th(scope='row') 9
          td 107
          td fintech web
          td mobirise
          td
            a(href="https://github.com/jhih-ching-yeh/fintech-web").fab.fa-github-alt
        tr
          th(scope='row') 10
          td 107
          td Programming
          td C++
          td
            a(href="https://github.com/jhih-ching-yeh/Programming").fab.fa-github-square
        


section.final
  .container
    .row
      .col-md-12
        h2 ABOUT ME
    .row
      .col-md-3
        i.fab.fa-facebook-square
        a(href="https://reurl.cc/jqo5rL")   Facebook
      .col-md-3
        i.fas.fa-envelope-open-text
        a(href="mailto:jhih.ching.yeh@gmail.com")   Email
      .col-md-3
        i.fab.fa-github
        a(href="https://github.com/jhih-ching-yeh")   Github
      .col-md-3
        i.fab.fa-linkedin
        a(href="https://www.linkedin.com/in/%E4%B9%8B%E6%99%B4-%E8%91%89-87942b181/")   LinkedIn
    